.index {
  flex-direction: column;
  width: 100%;
  .buttonArea {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
