@import url('../../assets/css/common.less');

.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 200px;
  height: 60px;
  border: 1px solid #ccc;
  font-size: @themeFontSize;
}
.circleStyle {
  border-radius: 60px;
}
.ty-button--small {
  width: 150px;
  height: 45px;
}
.ty-button-circle--small {
  border-radius: 60px;
}
